.home {
  font-weight: bold;
  background-color: #f9f9f9; }

.home__wrap {
  width: 100%;
  min-height: 488px;
  background-size: 182%;
  background: url("../img/hero-mobile@1x.jpg") no-repeat 46.5% -17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.main__title {
  position: relative;
  top: 70px;
  left: 7px;
  font-size: 27px;
  line-height: 30px;
  width: 300px;
  margin: 0 auto;
  text-align: center; }

.home__item {
  height: 103px; }
  .home__item:hover .home__img {
    opacity: 0.7; }
  .home__item:hover {
    height: 108px; }
  .home__item:active .home__text {
    color: rgba(255, 255, 255, 0.3); }
  .home__item:active .home__img {
    opacity: 0.3; }

.home__interior {
  background-color: #63d1bb; }
  .home__interior:hover {
    background-color: #46c1ae; }

.home__toy {
  background-color: #56c3b2; }
  .home__toy .home__img {
    position: relative;
    left: -4%;
    opacity: 0.3; }

.home__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 103px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }

.home__text {
  position: relative;
  left: 9%;
  top: -3px;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  width: 150px; }

.home__img {
  position: relative;
  left: -6%;
  opacity: 0.3; }

@media screen and (min-width: 768px) {
  .page__main {
    position: relative;
    top: -65px; }
  .home {
    position: relative; }
  .home__wrap {
    min-height: 755px;
    background-size: 160%;
    background-position: 50% 0;
    width: 668px;
    margin: 0 auto;
    position: relative; }
  .main__title {
    font-size: 43px;
    line-height: 50px;
    width: auto;
    margin-top: 18px;
    position: relative;
    left: 5px;
    top: 135px; }
  .home__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: 130px;
    min-width: 668px;
    width: calc(100% - 100px);
    -ms-flex-item-align: center;
        align-self: center;
    position: relative;
    left: 10px;
    z-index: 1; }
  .home__item {
    width: 50%;
    padding: 0;
    height: 130px;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .home__item:hover {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
      height: 130px;
      border-radius: 5.5%;
      /*box-shadow: 0 15px 20px -10px #75625b;
      z-index: 1;*/ }
  .home__link {
    height: 100%;
    padding: 0 0 10px 10.77844311377246%;
    width: 100%;
    margin: 0 auto;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    padding: 0 11.97604790419162%; }
    .home__link:hover .home__text {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px); }
    .home__link:hover .home__img {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px); }
  .home__text {
    position: relative;
    top: -5px;
    font-size: 20px;
    line-height: 30px;
    -webkit-transition: 0.7s;
    transition: 0.7s; }
  .home__img {
    margin-left: 31%;
    -webkit-transition: 0.7s;
    transition: 0.7s; }
  .home__separator {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-image: url("../img/wave.png");
    background-size: 40px 24px;
    background-position: bottom left;
    background-repeat: repeat-x;
    z-index: 999; } }

@media screen and (min-width: 1250px) {
  .page__main {
    position: relative;
    top: -42px; }
  .home__wrap {
    min-height: 755px;
    width: 1050px;
    margin: 0 auto;
    background-size: 100%;
    background-position: 50% -15px;
    /* background-image: url('../img/wave.png');
    background-size: 25px 10px;
    background-position: bottom left;
    background-repeat: repeat-x; */ }
  .main__title {
    font-size: 53px;
    line-height: 57px;
    width: auto;
    position: relative;
    left: 10px;
    top: 138px; }
  .home__inner {
    width: 1050px;
    min-width: 1050px; }
  .home__item {
    width: 50%;
    padding: 0;
    height: 130px; }
  .home__link {
    height: 130px;
    padding: 0 36px 10px 36px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .home__text {
    position: relative;
    top: -5px;
    font-size: 20px;
    line-height: 30px; } }
