.page__footer {
  position: relative;
  top: 75px;
  background-color: #f1f1f1;
  min-height: 160px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.page__footer_wrap {
  min-height: 160px;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer__social {
  margin: 0 auto;
  width: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px; }

.footer__social_icon {
  fill: #221f1f; }
  .footer__social_icon:hover {
    fill: #46c1ae; }
  .footer__social_icon:active {
    fill: #46c1ae;
    fill-opacity: 0.3; }

.footer__social_instagram {
  width: 22px;
  height: 21px; }

.footer__social_fb {
  width: 15px;
  height: 29px; }

.footer__social_twitter {
  width: 24px;
  height: 20px; }

.footer__html {
  font-size: 19px;
  font-weight: bold;
  line-height: 80px;
  color: #000000;
  text-decoration: none;
  border-top: 1px solid #e5e5e5;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer__html:active .footer__text {
    color: rgba(0, 0, 0, 0.3); }
  .footer__html:hover .footer__html_icon {
    fill: #46c1ae; }
  .footer__html:active .footer__html_icon {
    fill-opacity: 0.3; }

.footer__html_icon {
  width: 27px;
  height: 34px;
  fill: #63d1bb; }
