.page__header {
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec; }

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 78px; }

.header__logo_link {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  margin-top: 4px;
  margin-left: 50%;
  left: -35px;
  margin-right: auto; }

.header__logo_img:hover {
  opacity: 0.6; }

.header__logo_img:active {
  opacity: 0.3; }

.main_nav {
  width: 100%;
  background-color: #ffffff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header__menu {
  display: none;
  position: absolute;
  z-index: 20;
  left: 0;
  background-color: #ffffff;
  width: 100%; }

.header__site_menu {
  top: 60px; }

.header__user_menu {
  top: 218px; }

.menu_close {
  display: none; }

.header__input {
  display: none;
  position: relative; }
  .header__input:checked + .header__label .menu_open {
    display: none; }
  .header__input:checked + .header__label .menu_close {
    display: inline-block;
    position: relative;
    top: 4px;
    left: 2px; }
  .header__input:checked + .header__label ~ .header__menu {
    display: block; }

.header__input:checked + .header__label .menu_open {
  display: none; }

.header__input:checked + .header__label .menu_close {
  display: inline-block;
  position: relative;
  top: 4px;
  left: 2px; }

.header__label {
  margin-right: 5.375%;
  margin-top: 10px;
  width: 20px;
  height: 30px;
  background-color: #ffffff; }

.main_nav {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  z-index: 10; }

.header__site_menu,
.header__user_menu {
  list-style: none; }

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 78px;
  border-bottom: 1px solid #ececec;
  text-decoration: none;
  color: #000000; }
  .header__link:hover {
    color: rgba(0, 0, 0, 0.6); }
  .header__link:hover .header__item_icon {
    fill-opacity: 1;
    fill: #77d7c4; }
  .header__link:active {
    color: rgba(0, 0, 0, 0.3); }
  .header__link:active .header__item_icon {
    fill-opacity: 0.3;
    fill: #77d7c4; }

.header__link_search {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 31px;
  padding-right: 92px; }

.header__link_inner {
  margin-left: -15px; }
  .header__link_inner svg {
    margin-top: 10px; }

.header__link_span {
  margin-left: 20px; }

.header__delivery {
  display: none; }

@media screen and (min-width: 768px) {
  .page__header {
    border: 0;
    border-top: 1px solid #ececec; }
  .header__wrap {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    padding: 0; }
  .header__label {
    display: none; }
  .main_nav {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    background-color: transparent; }
  .header__logo_img {
    margin-top: 25px; }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static; }
  .header__logo_link {
    margin: 0;
    text-align: left;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 50px;
    border-bottom: 1px solid #ececec;
    height: 88px;
    width: 49%; }
  .header__link_inner {
    margin-left: -2px; }
  .header__link_span {
    margin-left: 25px; }
  .header__site_menu {
    position: relative;
    top: -24px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 50px;
    width: 49%;
    font-size: 15px;
    background-color: transparent; }
  .header__user_menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: auto;
    width: 51%;
    background-color: transparent; }
  .header__user_menu .header__link {
    border-left: 1px solid #ececec;
    height: 88px; }
  .header__site_menu .header__link {
    border: 0;
    height: auto; }
  .header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .header__item_search {
    width: 84px; }
  .header__item_cart {
    width: calc(100% - 84px); }
  .header__link_search {
    font-size: 0;
    border-right: 0; }
  .header__link_cart {
    padding-left: 10.12658227848101%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .header__bottom {
    display: none; }
  .header__delivery {
    display: block;
    margin-top: 17px;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    margin-left: 84px;
    padding-left: 8%;
    width: 100%;
    text-align: left; } }

@media screen and (min-width: 1250px) {
  .header__wrap {
    padding: 0 50px; }
  .header__logo_link {
    display: block;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: calc(100% - (100% - 249px));
    padding: 0;
    border-width: 0;
    border-bottom: 1px solid #ececec;
    padding-left: 4%; }
  .header__site_menu {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 44%;
    margin: 0;
    font-size: 17px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .header__site_menu .header__item_catalog {
      width: 47%;
      border-right: 1px solid #ececec;
      padding-left: 50px; }
    .header__site_menu .header__item_order {
      padding-left: 35px;
      width: 53%; }
    .header__site_menu .header__link {
      height: 88px;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
  .header__user_menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: calc(100% - 44% - 249px); }
    .header__user_menu .header__link {
      border-bottom: 0; }
  .header__link_inner {
    margin-left: 4px; }
  .header__link_span {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: 3px; }
  .header__menu .header__bottom {
    display: block;
    margin: 0;
    margin-top: 18px;
    height: auto;
    width: 100%;
    font-size: 15px; }
  .header__menu .header__top {
    border-bottom: 1px solid #ececec;
    height: 88px; }
  .header__new {
    width: 47%;
    padding-left: 50px; }
  .header__sale {
    width: 53%;
    padding-left: 34px; }
  .header__delivery {
    position: relative;
    left: 5px; } }
