.reviews {
  margin-top: 55px; }

.reviews__wrap {
  padding: 0 9.375%; }

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold; }

.reviews__text {
  margin-top: 22px;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal; }

.reviews__author {
  margin-top: 28px;
  font-size: 17px; }

.reviews__name {
  line-height: 24px;
  font-weight: bold; }

.reviews__nick {
  line-height: 30px;
  font-weight: normal;
  color: #444444; }

.reviews__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px; }

.reviews__control {
  display: block;
  border: 1px solid #ececec;
  width: 260px;
  height: 52px; }
  .reviews__control:hover {
    opacity: 0.6; }
  .reviews__control:active {
    opacity: 0.3; }

.reviews__left {
  background-image: url(../img/icon-left-arrow.svg);
  background-size: 50 26.003;
  background-position: center center;
  background-repeat: no-repeat; }

.reviews__right {
  background-image: url(../img/icon-right-arrow.svg);
  background-size: 50 26.003;
  background-position: center center;
  background-repeat: no-repeat; }

.reviews__write {
  display: block;
  margin-top: 40px;
  padding: 15px; }
