.contacts {
  margin-top: 85px;
}
.contacts__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  padding: 0 9.375%;
}
.contacts__adress,
.contacts__email {
  margin-top: 26px;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
  color: #444444;
  padding: 0 9.375%;
  display: flex;
}
.contackts__date {
  margin-left: 11.53846153846154%;
}
.contacts__mail {
  color: #444444;
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;

  &:hover {
    color: #46c1ae;
    border-color: #46c1ae;
  }

  &:active {
    color: rgba(#46c1ae, 0.3);
    border-color: #ecf9f7;
  }
}
.contacts__img {
  height: auto;
  width: 100%;
  min-width: 320px;
  overflow: hidden;
  margin: 0 auto;
}
.contacts__img_wrap {
  margin-top: 40px;
}
.contacts__write_us {
  display: block;
  position: relative;
  top: 35px;
  margin: 0 9.375%;
  padding: 15px 50px;
  text-align: center;
}
