.main__title_wrap {
  background-color: #f1f1f1;
  height: 176px;
  display: flex;
}

.page__text {
  padding: 0 30px;
  margin-top: 21px;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.form__form {
  width: 260px;
  margin: 0 auto;
  margin-top: 25px;
}

.form__fieldset_type {
  display: flex;
  flex-direction: column;

  .form__label_radio:last-child {
    margin-top: 23px;
  }
}

.form__fieldset_color {
  margin-top: 44px;
}

.form__fieldset_inner {
  display: flex;
  flex-direction: column;
}

.form__fieldset_name {
  margin-top: 40px;

  .form__label {
    margin-top: 22px;
  }

  .form__label:first-of-type {
    margin-top: 30px;
  }

  .form__input_name {
    margin-top: 20px;
  }
}

.form__fieldset_tel,
.form__fieldset_mail,
.form__fieldset_textarea {
  margin-top: 30px;
}

.form__fieldset_tel {
  .form__fieldset_inner {
    display: flex;
    justify-content: space-between;
  }

  .form__input_name {
    margin-top: 10px;
    padding-bottom: 0;
    display: inline-block;
    width: 225px;
    outline: none;
  }

  .form__icon {
    display: inline-block;
    width: 34.829px;
    margin-top: 15px;
    border-bottom: 2px solid #444444;
    padding-bottom: 15px;
    fill: rgba(#444444, 0.2);
  }
}

.form__fieldset_mail {
  &::before {
    width: 180px;
  }

  .form__fieldset_inner {
    display: flex;
    justify-content: space-between;
  }

  .form__input_name {
    margin-top: 10px;
    padding-bottom: 0;
    display: inline-block;
    outline: none;
  }

  .form__icon {
    display: inline-block;
    width: 44.829px;
    margin-top: 20px;
    border-bottom: 2px solid #444444;
    padding-bottom: 10px;
    fill: rgba(#444444, 0.2);
  }
}

.form__fieldset {
  border: 0;
  position: relative;
  display: flex;
  padding: 0;
  margin-left: 0;
  margin-right: 0;

  &::before {
    position: absolute;
    content: "";
    top: 8px;
    right: 0;
    width: 200px;
    height: 1px;
    background-color: #62d1ba;
  }
}

.form__legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}

.form__input {
  display: none;
}

.form__label_radio {
  position: relative;
  margin-top: 35px;
  padding-left: 63px;

  &::before {
    position: absolute;
    content: "";
    top: -9px;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #444444;
    border-radius: 50%;
    box-sizing: border-box;
  }
}

.form__input_radio:checked + .form__label_radio {
  &::after {
    position: absolute;
    content: "";
    top: 3px;
    left: 12px;
    width: 16px;
    height: 16px;
    background-color: #62d1ba;
    border-radius: 50%;
    box-sizing: border-box;
  }
}

.form__label_checkbox {
  margin-top: 43px;
  position: relative;
  padding-left: 63px;

  &::before {
    position: absolute;
    content: "";
    top: -13px;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #444444;
    box-sizing: border-box;
  }
}

.form__input_checkbox:checked + .form__label_checkbox {
  &::after {
    position: absolute;
    content: "";
    top: -12px;
    left: 0;
    width: 40px;
    height: 40px;
    background-image: url("../img/icon-tick.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60%;
    box-sizing: border-box;
  }
}

.form__label_checkbox:first-of-type {
  margin-top: 37px;
}

.form__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;

  &:hover::before {
    border-color: #62d1ba;
  }

  &:active::before {
    border-color: #444444;
    opacity: 0.3;
  }
}

.form__input_name {
  width: 100%;
  padding: 0;
  border: 0;
  border-bottom: 2px solid #000000;
  padding-bottom: 15px;

  &:hover,
  &:active,
  &:focus {
    border-color: #62d1ba;
  }

  &:hover + .form__icon {
    fill: #62d1ba;
    border-color: #62d1ba;
  }

  &:active + .form__icon {
    fill: #62d1ba;
    border-color: #62d1ba;
  }

  &:focus + .form__icon {
    fill: #62d1ba;
    border-color: #62d1ba;
  }
}

.form__input_name::placeholder {
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  color: rgba(#000000, 0.3);
}

.form__textarea {
  margin-top: 27px;
  border: 2px solid #444444;
  resize: none;
  padding: 14px 16px;
  box-sizing: border-box;
  outline: none;
}

.form__textarea::placeholder {
  font-size: 17px;
  line-height: 18px;
  letter-spacing: 0.02em;
}

.form__requaried {
  display: block;
  margin-top: 18px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.form__submit {
  margin-top: 30px;
  padding: 15px 45px;
}

@media screen and (min-width: 768px) {
  .main__title_wrap {
    height: 196px;
    padding-top: 53px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-size: auto 23px;
    background-position: bottom left;
    background-repeat: repeat-x;
    margin-bottom: 60px;
  }

  .main__title {
    margin: 0 auto;
    position: static;
    height: 50px;
  }

  .page__text {
    padding: 0;
    width: 668px;
    font-size: 17px;
    line-height: 30px;
    margin: 0 auto;
  }

  .form__form {
    margin: 0;
    width: 100%;
    padding-top: 76px;
  }

  .form__fieldset {
    width: 100%;

    &::before {
      display: none;
    }
  }

  .form__legend {
    font-size: 17px;
    line-height: 16px;
  }

  .form__fieldset_type {
    width: 668px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .form__legend {
      display: inline-block;
      width: 25%;
    }
  }


  .form__label_radio {
    position: relative;
    top: -18px;
    width: 50%;
    margin: 0;
    margin-left: 185px;
    font-size: 19px;
    line-height: 18px;
    margin-bottom: 57px;

    &::before {
      position: absolute;
      content: "";
      top: -15px;
      left: -19px;
      width: 52px;
      height: 52px;
      border: 2px solid #444444;
      border-radius: 50%;
      box-sizing: border-box;
    }
  }

  .form__label_radio:last-of-type {
    margin-bottom: 45px;
  }

  .form__input_radio:checked + .form__label_radio {
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: -4px;
      width: 22px;
      height: 22px;
      background-color: #62d1ba;
      border-radius: 50%;
      box-sizing: border-box;
    }
  }

  .form__fieldset_color {
    background-color: #f1f1f1;
    margin: 0;
    padding: 55px 50px 0 50px;
    display: block;
    min-height: 310px;
    height: auto;


    .form__legend {
      margin: 0;
      padding: 0;
      position: relative;
      top: 72px;
    }

    .form__fieldset_inner {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-left: 247px;
    }


    .form__label {
      width: 50%;
      height: 16px;
      margin: 0;
      padding: 0;
      display: inline-block;
      margin-bottom: 60px;
      font-size: 19px;
    }

    .form__label_second {
      padding-left: 52px;
    }
  }

  .form__label_checkbox {
    &::before {
      top: -15px;
      left: -80px;
      width: 53px;
      height: 53px;
    }
  }

  .form__label_second {
    &::before {
      left: -29px;
    }
  }

  .form__input_checkbox:checked + .form__label_checkbox {
    &::after {
      top: -12px;
      left: -80px;
      width: 52px;
      height: 52px;
    }
  }

  .form__input_checkbox:checked + .form__label_second {
    &::after {
      left: -29px;
    }
  }

  .form__fieldset_name {
    width: 668px;
    margin: 0 auto;
    padding-top: 20px;

    .form__legend {
      position: relative;
      top: 68px;
      left: 2px;
    }

    .form__label {
      margin-top: 5px;
      font-size: 19px;
      padding-left: 167px;
    }

    .form__input_name {
      position: relative;
      top: -34px;
      margin-left: 240px;
      width: 428px;
      padding-left: 18px;

      &::placeholder {
        font-size: 19px;
        padding-bottom: 0;
      }
    }

    .form__input_name2 {
      width: 375px;
      margin-left: 295px;
    }
  }

  .form__fieldset_tel {
    margin: 0;
    background-color: #f1f1f1;
    padding-top: 45px;

    .form__legend {
      position: relative;
      top: 85px;
      left: 50px;
    }

    .form__fieldset_inner {
      padding-left: 217px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    .form__input_name {
      width: 84%;
      background-color: transparent;
      padding-left: 20px;
    }

    .form__icon {
      width: 6.666666666666667%;
      padding-right: 20px;
    }
  }

  .form__fieldset_mail {
    position: relative;
    top: -8px;
    margin: 0;
    background-color: #f1f1f1;
    padding-top: 5px;
    padding-bottom: 50px;

    .form__legend {
      position: relative;
      top: 50px;
      left: 50px;
    }

    .form__fieldset_inner {
      padding-left: 217px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    .form__input_name {
      width: 84%;
      background-color: transparent;
      padding-left: 20px;
    }

    .form__icon {
      width: 6.666666666666667%;
      height: auto;
      padding-right: 20px;
    }
  }
}
