.form {
  padding: 0 30px;
}

.main__title_wrap {
  background-color: #f1f1f1;
  height: 176px;
  display: flex;
  align-items: center;
}

.page__text {
  padding: 0 30px;
  margin-top: 30px;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.form__form {
  margin-top: 30px;
}

.form__fieldset_type {
  margin-top: 35px;
}

.form__fieldset_color {
  margin-top: 40px;
}

.form__fieldset_name {
  margin-top: 45px;
}

.form__fieldset_tel,
.form__fieldset_mail,
.form__fieldset_textarea {
  margin-top: 35px;
}

.form__fieldset {
  border: 0;
  position: relative;
  display: flex;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 200px;
    height: 1px;
    background-color: #62d1ba;
  }
}

.form__legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
}

.form__input {
  display: none;
}

.form__label_radio {
  position: relative;
  margin-top: 40px;
  padding-left: 63px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #444444;
    border-radius: 50%;
    box-sizing: border-box;
  }
}

.form__input_radio:checked + .form__label_radio {
  &::after {
    position: absolute;
    content: "";
    top: 12px;
    left: 12px;
    width: 16px;
    height: 16px;
    background-color: #62d1ba;
    border-radius: 50%;
    box-sizing: border-box;
  }
}

.form__label_checkbox {
  position: relative;
  margin-top: 45px;
  padding-left: 63px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #444444;
    box-sizing: border-box;
  }
}

.form__input_checkbox:checked + .form__label_checkbox {
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-image: url("../img/icon-tick.svg");
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;
  }
}

.form__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;

  &:hover::before {
    border-color: #62d1ba;
  }

  &:active::before {
    border-color: #444444;
    opacity: 0.3;
  }
}

.form__input_name {
  width: 100%;
  padding: 0;
  border: 0;
  border-bottom: 2px solid #000000;
  padding-left: 63px;

  &:hover,
  &:active,
  &:focus {
    border-color: #62d1ba;
  }

  &:hover + .form__icon {
    fill: #62d1ba;
  }

  &:active + .form__icon {
    fill: #62d1ba;
  }

  &:focus + .form__icon {
    fill: #62d1ba;
  }
}

.form__icon {
  position: absolute;
  top: 0;
  right: 0;
}

.form__input_name::placeholder {
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  color: rgba(#000000, 0.3);
}

.form__textarea {
  border: 2px solid #444444;
}

.form__requaried {
  margin-top: 15px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.form__submit {
  margin-top: 30px;
  padding: 15px 45px;
}
