
.home {
  font-weight: bold;
}
.home__wrap {
  width: 100%;
  min-height: 488px;
  background-image: url('../img/hero-mobile@1x.jpg');
  background-position: center -40%;
  background-size: 200%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.main__title {
  margin-top: 80px;
  font-size: 27px;
  line-height: 30px;
  width: 81.25%;
  margin: 0 auto;
  text-align: center;
}
.home__inner {
  max-height: 211px;
}
.home__item {
  padding: 0 9.375%;
  min-height: 103px;
  max-height: 108px;

  &:hover .home__img {
    opacity: 0.7;
  }

  &:hover .home__link {
    transform: translateY(-5px);
  }

  &:active .home__text {
    color: rgba(255, 255, 255, 0.3);
  }

  &:active .home__img {
    opacity: 0.3;
  }
}

.home__interior {
  background-color: #63d1bb;
  &:hover {
    background-color: #59d5bc;
  }

}
.home__toy {
  background-color: #56c3b2;
  &:hover {
    background-color: #46c1ae;
  }
}
.home__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  min-height: 103px;
  max-height: 108px;
  display: flex;
  justify-content: space-between;

  &:hover {
    height: 108px;
  }
}
.home__text {
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
}
.home__img {
  opacity: 0.5;
}
