.modal {
  border-top: 1px solid #c7c7c7;
  box-shadow: 0 5px 20px 0 rgba(#000000, 0.25);
  display: none;
}
.modal__wrap {
  padding: 0 30px;
  min-height: 336px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.modal__title {
  margin-top: 25px;
  width: 160px;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  align-text: center;
  margin-top: 30px;
}
.modal__text {
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
  color: #444444;
}
.modal__form {
  margin-top: 30px;
  min-height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.modal__fieldset {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}
.modal__input {
  display: none;

  &:checked + .modal__label {
    border-color: #62d1ba;
  }
}
.modal__label {
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  color: #444444;
  border: 2px solid #ececec;
  padding: 15px 32px;

  &:hover {
    border-color: #c7c7c7;
  }
  &:active {
    border-color: #62d1ba;
  }

}
.modal__button {
  margin-top: 30px;
  padding: 15px 80px;
  border: 0;
  background-color: #63d1bb;
  color: #ffffff;
}
