.page__header {
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
}

.header__wrap {
  display: flex;
  align-items: center;
  min-height: 78px;
}

.header__logo_link {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  margin-top: 4px;
  margin-left: 50%;
  left: -35px;
  margin-right: auto;
}

.header__logo_img {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main_nav {
  background-color: #ffffff;
  position: relative;
  display: flex;
  margin-right: 5.375%;
  margin-top: 10px;
  width: 20px;
  height: 30px;
}

.header__menu {
  display: none;
  position: absolute;
  z-index: 20;
  left: 0;
  background-color: #ffffff;
  width: 100%;
}

.header__site_menu {
  top: 60px;
}

.header__user_menu {
  top: 218px;
}

.menu_close {
  display: none;
}

.header__input {
  display: none;
  position: relative;

  &:checked + .header__label {
    .menu_open {
      display: none;
    }

    .menu_close {
      display: inline-block;
      position: relative;
      top: 4px;
      left: 2px;
    }
  }

  &:checked + .header__label ~ .header__menu {
    display: block;
  }
}

.header__label {
  margin-right: 5.375%;
  margin-top: 10px;
  width: 20px;
  height: 30px;
  background-color: #ffffff;
}

.header__site_menu,
.header__user_menu {
  list-style: none;
}

.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78px;
  border-bottom: 1px solid #ececec;
  text-decoration: none;
  color: #000000;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:hover .header__item_icon {
    fill-opacity: 1;
    fill: #77d7c4;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &:active .header__item_icon {
    fill-opacity: 0.3;
    fill: #77d7c4;
  }
}

.header__link_search {
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  padding-left: 31px;
  padding-right: 92px;
}

.header__link_inner {
  margin-left: -15px;

  svg {
    margin-top: 10px;
  }
}

.header__link_span {
  margin-left: 20px;
}

.header__delivery {
  display: none;
}

@media screen and (min-width: 768px) {
  .page__header {
    border: 0;
    border-top: 1px solid #ececec;
  }

  .header__wrap {
    align-items: initial;
    padding: 0;
  }

  .header__label {
    display: none;
  }

  .main_nav {
    position: static;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    background-color: transparent;
  }

  .header__logo_img {
    margin-top: 25px;
  }

  .header__menu {
    display: flex;
    position: static;
  }

  .header__logo_link {
    margin: 0;
    text-align: left;
    justify-content: flex-start;
    padding-left: 50px;
    border-bottom: 1px solid #ececec;
    height: 88px;
    width: 49%;
  }

  .header__link_inner {
    margin-left: -2px;
  }

  .header__link_span {
    margin-left: 25px;
  }

  .header__site_menu {
    position: relative;
    top: -24px;
    order: 2;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    width: 49%;
    font-size: 15px;
    background-color: transparent;
  }

  .header__user_menu {
    order: 1;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    width: 51%;
    background-color: transparent;
  }

  .header__user_menu .header__link {
    border-left: 1px solid #ececec;
    height: 88px;
  }

  .header__site_menu .header__link {
    border: 0;
    height: auto;
  }

  .header__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__item_search {
    width: 84px;
  }

  .header__item_cart {
    width: calc(100% - 84px);
  }

  .header__link_search {
    font-size: 0;
    border-right: 0;
  }

  .header__link_cart {
    padding-left: 10.12658227848101%;
    justify-content: flex-start;
  }

  .header__bottom {
    display: none;
  }

  .header__delivery {
    display: block;
    margin-top: 17px;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    margin-left: 84px;
    padding-left: 8%;
    width: 100%;
    text-align: left;
  }
}

@media screen and (min-width: 1250px) {
  .header__wrap {
    padding: 0 50px;
  }

  .header__logo_link {
    display: block;
    order: 1;
    width: calc(100% - (100% - 249px));
    padding: 0;
    border-width: 0;
    border-bottom: 1px solid #ececec;
    padding-left: 4%;
  }

  .header__site_menu {
    position: static;
    display: flex;
    flex-wrap: wrap;
    order: 0;
    width: 44%;
    margin: 0;
    font-size: 17px;
    justify-content: flex-start;

    .header__item_catalog {
      width: 47%;
      border-right: 1px solid #ececec;
      padding-left: 50px;
    }

    .header__item_order {
      padding-left: 35px;
      width: 53%;
    }

    .header__link {
      height: 88px;
      justify-content: flex-start;
    }
  }

  .header__user_menu {
    order: 2;
    width: calc(100% - 44% - 249px);

    .header__link {
      border-bottom: 0;
    }
  }

  .header__link_inner {
    margin-left: 4px;
  }

  .header__link_span {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: 3px;
  }

  .header__menu {
    .header__bottom {
      display: block;
      margin: 0;
      margin-top: 18px;
      height: auto;
      width: 100%;
      font-size: 15px;
    }

    .header__top {
      border-bottom: 1px solid #ececec;
      height: 88px;
    }
  }

  .header__new {
    width: 47%;
    padding-left: 50px;
  }

  .header__sale {
    width: 53%;
    padding-left: 34px;
  }

  .header__delivery {
    position: relative;
    left: 5px;
  }
}
