.preview__wrap {
  margin-top: 35px;
  height: 820px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 9.375%;
}
.preview__title {
  font-size: 25px;
  line-height: 30px;       /* не забудь сделать ТОВАР НЕДЕЛИ */
  font-weight: bold;
}

.preview__specs {
  margin-top: 60px;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  min-height: 205px;
  justify-content: space-between;
}
.preview__spec {
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}
.preview__cart {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 440px;
}
.preview__price {
  align-self: center;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}
.preview__order {
  padding: 15px 80px;
}
